.form {
  width: 40%;
  display: inline-block;
  text-align: center;
}

.form-header {
  font-size: 40px;
  font-weight: bold;
  color: green;
  margin-top: 20px;
}

.form-body {
  margin-top: 10px;
}

/* depricated css */

/* .form-body { */
/* text-align: left; */
/* font-weight: bold;
} */

/* .button {
  display: inline-block;
  justify-content: center;
  width: auto;
  text-align: center;
  background-color: green;
  color: white;
} */

/* 
.btn {
  font-weight: bold;
} */
