.form {
  width: 40%;
  display: inline-block;
  text-align: center;
}

.form-header {
  font-size: 40px;
  font-weight: bold;
  color: green;
}

.form-body {
  /* text-align: left; */
  font-weight: bold;
}

.button {
  display: inline-block;
  justify-content: center;
  width: auto;
  text-align: center;
  background-color: green;
  color: white;
  font-weight: bold;
}
