.job-detail {
  width: 60%;
}

.job-detail-info {
  float: left;
  text-align: left;
  margin: 20px;
  color: black;
  font-size: 20px;
}

.job-detail-buttons {
  margin: 20px;
}

.clear {
  clear: both;
}

.job-detail-header {
  font-size: 40px;
  font-weight: bold;
  color: green;
}
